

.App {
  font-family: sans-serif;
  text-align: center;
  padding: 0 36px;
  
  margin: 0 auto;
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  height: 100vh;
  width: 100%;

}
h2{
  display:flex;
  justify-content: center;
  color: #e64944;
  font-size:40px;
  margin-top:20px;
}
label {
  display:flex;
  justify-content:center;
  color: #e64944;
  font-size: 30px;
}


.todo-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
}
li {
  background-color: #e64944;
  width: 100%;
  text-align: center;
  margin: 4px 0;
  padding-left: 8px;
  cursor: pointer;
  display:flex;
  justify-content:center;
  flex-direction:column;
  font-size: 25px;
  color: white;

}

li.completed {
  background-color: #d17d7c;
  text-decoration: line-through;
}
form {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
input {
  background-color: #FFEFD5;
  border: 0;
  padding: 6px 0;
  font-size: 25px;
  width: 240px;
  outline: 0;
  color: #e64944;
  border-bottom: 1px solid #e64944;
  margin-right: 8px;
}

button {
  background-color: #e64944;
  border: 1px solid #e64944;
  color: white;
  font-size: 25px;
  padding: 6px 14px;
  width: 30%;
}

input::placeholder {
  color: #e64944;
  opacity: 1;
}

.clear-btn {
  margin-top: 16px;
}

